.container-component {
  max-width: 900px !important;
  margin: 0 auto;
  padding: 20px;
}

.card-img-top {
  height: 350px;
  object-fit: contain;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.btn-ecommerce {
  width: 40%;
  margin: 0 auto;
}
